@using IdleBattler_Common.Models.Equipment

<h3>ItemsForSale</h3>

<div style="border:1px solid black;">
    @if (EquipmentForSale.Count > 0)
    {
        <ul class="list-group list-group">
            @foreach (var equip in EquipmentForSale)
            {
                <li class="list-group-item">
                    <div class="card">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col">@equip.Name</div>
                                <div class="col">
                                    <div class="float-end"><button class="btn btn-primary" @onclick="(() => OnEquipmentBuy(equip))">Buy</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

            }
        </ul>
    }
</div>

@code {

    [Parameter]
    public List<EquipmentModel> EquipmentForSale { get; set; }

    [Parameter]
    public Action<EquipmentModel> OnEquipmentBuy { get; set; }
}
